<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agreement</title>
  <style>
    body {
      margin: 0;
      padding: 30px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      font-family: "Arial", sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: #333333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
    }

    h1 {
      font-family: "Times New Roman", serif;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    .italic {
      font-style: italic;
    }

    .image-container {
      position: relative;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      overflow: hidden;
    }

    .image-container img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
    }


    .bold {
      font-weight: bold;
      color: #333333;
    }

    .underscore {
      text-align: center;
      color: rgb(30, 124, 255);
      text-decoration: underline;
    }


    /* Additional styling for your specific requirements */
    .title-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      /* Adjust the height as needed */
    }

    .title-img img {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 20px;
      object-fit: contain;
    }

    .signature-img img {
      border: 1px solid grey;
      max-width: 600px;
      max-height: 100px;
      margin-bottom: 20px;
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="main-container">
    <div class="title-img">
      <img src="https://palettier-google-drive.s3.ap-south-1.amazonaws.com/ri_1.jpeg" alt="cvforceservice"
        class="title-img" />
    </div>
    <h1 class="center">CV FORCE SERVICE</h1>
    <h1 class="center">CONTRACT FOR FREELANCE TYPING WORK</h1>
    <h1>TIME PERIOD OF AGREEMENT:</h1>
    <span>That the Employment period shall be for 30 days, after which this
      contract is subject to renewal or as the company may otherwise
      determine.
    </span>
    <h1>TERMS AND CONDITIONS:</h1>
    <span>You (Party of the IInd Part) shall be subject to such terms and
      conditions of service and regulations as will be determined by the
      management of the firm. By digitally signing the agreement, even by
      (signing by initials or symbols) or entire specimen, you have agreed to
      this employment contract, and that you will be bound by and adhere to
      the company's Terms and Conditions.
    </span>
    <h1>SLOT PERIOD: (1 week) :</h1>
    <span>We are pleased to offer you the job of contract-based data operator
      under the following terms and conditions.</span>
    <div class="underscore">
      FREELANCE AGREEMENT <br />
      BETWEEN <br />CV FORCE SERVICE <br />
      AND <br />
      APPLICANT/FREELANCER.
      <br />
      DURATION: <br />
    </div>
    <span>That the Employment period shall be for ONE MONTH after which this
      contract is subject to renewal or as the Company may otherwise
      determine.
    </span>
    <br />
    <h1>GENERAL CONDITIONS:</h1>
    <span>You (Party of the Second Part) shall be subject to such general
      conditions of service and regulations as will be determined by the
      Management of the firm. You also agreed by digitally accepting this
      employment contract , by digitally signing on the agreement on link sent
      to you on your email id { CV FORCE }, that you will be bound by and
      adhere to the Company's Rules and Regulations Book and code of conduct
      (as the same may be renewed by management from time to time.) PROJECT
      DURATION (6 DAYS ) Sequel to your successful communication with us, we
      are pleased to offer you the job of {FREELANCER DATA ENTRY} with { CV
      FORCE } with effect from {2023-2024} under the following terms and
      conditions JOB CONTRACT FOR FREELANCING EMPLOYEMENT This Agreement
      executed 2022-10-18 between <span class="bold"> CV FORCE</span> Having
      its Register Office at - SP Arcade, P-II, MODULE 5A/27, 9A Cross Rd,
      West Thillai Nagar, Tiruchirappalli, Tamil Nadu 620018 (Herein after
      referred to as Party <%= data.name%> ,<%= data.address%> , herein after
          referred to as the Party of the Second Part) .
          <span class="bold">WHEREAS</span> the Party of the First Part is engaged
          mainly in Outsourcing of IT enabled Services and To deliver Data Entry
          and Transcription and allied Activities and Other Ancillary Activities
          Associated there with an Organization engaged in providing data to you
          end clients and data entry related line of work. And executing such work
          Outsourced, through Delivery Partners
          <span class="bold">AND WHEREAS</span> the Party of the First Part is
          bound by time schedule set by the Delivery Partners and that its
          reputation is built upon speedy and accurate transcription and requires
          the said party to deliver accomplished work within shortest span and
          with desired accuracy the First Party has entered with a firm launching
          its new BANKING PORTAL and has represented itself that it has an
          expertise in the area of providing MARKETING (Banking)/ Presently it is
          in a position to procure the business for RESUME FILLING more
          meaningfully described in the column Scope of Work, through their
          principals. AND WHEREAS the Business Associate is engaged inter alias,
          in the business of providing a wide Spectrum of software solutions &
          services. The Business Associate has acquired the necessary expertise
          and developed the requisite skill base and Infrastructure for successful
          execution of RESUME FILLING Projects Whereas, the Second Party is an
          individual and a Freelancer who is willing to provide its services to
          the Job Portal Company, via medium of First Party in relation with IT &
          all data related work which is to be provided by the First Party This
          Agreement represents the business Agreement and operational
          understandings between the parties and shall remain in effect for a
          period of (6 DAYS ) from the date of execution hereof or from the date
          of providing the first data whichever is later & can be extended for the
          period as mutually agreed upon, for the purpose</span>
    <h1>NOW THIS AGREEMENT WITNESSETH AS FOLLOWS:</h1>
    <br />
    <span>It is hereby agreed between the Parties as under: 1.1 That both the
      Parties has decided with sweet will and free consent to work together
      for gains. <br />
      1.2 The purpose of Parties behind this Agreement is to work for gain in
      relation to the Freelance services. <br />
      1.3. That the First Party is Ruling out on survey for banking purpose
      digitally/non digitally /Free Lancers and is focused to provide its
      services to the Partners/Associates (M/s CV FORCE SERVICE.): <br />
      <span class="bold">2 .Scope of Work:</span>The original data will be
      available on the work environment software provided by CV FORCE at the
      time of signup. Business associate are required to feed the provided
      data in the provided software as per the guidelines. Data supply and
      <br />
      preservation of the output file is done online on real time basis. the
      party of the first part is collecting data for banking formalities of
      our end clients for that they are ruling out on survey for the data by
      typing in company's portal the employee of the CV FORCE AND SERVICES are
      also working on this project those persons are qualified in their work
      and fulfil the company requirement the company will pay for them
      according to terms & condition. The data surveying duration will be for
      one year from {2023 to 2024} <br />
      2.1 The First Party shall provide details of the FORMS through the login
      credentials shared through SMS Or Email. <br />
      2.2 The Second Party Further Represents to the First Party, the time for
      the Completion of the said data entry related services as mentioned in
      this Agreement, shall Commence Immediately upon logging on the portal OR
      if the Commencement Date is mentioned in the said Communication, from
      such date, and it shall Continue to Access its said Portal/Email as
      provided in the Records of the First Party, as frequently as necessary
      for the said Purpose. <br />
      <span class="bold">2.3 The Second Party agrees to pay Rs. 6500 as charges for
        membership, Portal charges, and other applicable charges in case of
        failure to submit complete workload or to provide workload on time
        with desired accuracy. This membership will include Jobs Vacancy
        information in Pan India through our Social Media platform.
      </span>
      <br />
      2.4 That the First Party will give 500 forms in PDF or any other
      image/Template format on the Company's Portal. On the Portal itself, the
      details of the work of data processing are provided, which will clearly
      mention the details, as in what & how is to be processed. <br />
      a) Payment to be made maximum within 6 DAYS days of each calendar month,
      from the QC report, which will be given usually within 6 DAYS of
      submission of the work. <br />
      b) That the First party gets all these FORMS from CV FORCE (END
      CLIENTS). <br />
      c) In case of any dispute second party must contact to the first party
      and if they are unable to resolve their problem, they can proceed
      legally. Second party can communicate through support@cvforce.com or on
      customer care numbers provided. <br />

      <span class="bold">3. Plan Details: </span>Second party will get 500
      forms for 6 DAYS. Agreement duration shall be for 1 month, within which
      must complete 3 projects/slots. Per form rate will be Rs. 30 /-.(a). No
      initial payment is required to be given by second party.(b). After
      getting the accuracy report of having 90% above accuracy, your payment
      will be processed within 6 international working days in to your
      respective bank account. An accurate form is that which doesn't have any
      error such as spelling/punctuation/extra space/extra text/missing
      text.(c). In the matter of failure, non-submission, accuracy below 90%
      then company is entitled to receive amount of Rs. 6500 * by any cost
      from the second party. If in case second party uses multiple login then
      penalty will be Rs.1999 /-. If second party passes and achieves the
      accuracy of 90% or above, then amount will be deducted from his work
      payment and remaining shall be paid. (d).when the second party
      successfully completed the first slot with 90% Accuracy then they can
      apply for laptop if needed. (e). The charge of Rs. 6500 is related to
      services, development, and maintenance cost of the platform where he is
      working online. <br />
      <span class="bold">Technical clause: </span> <br />
      Helpline department will support you in only 20% queries from the whole
      project. For example: if you have taken the 500 pages/forms plan, then
      helpline dept. is liable to give reply only 100 pages/forms queries of
      20% of whole project. No use of any shortcut keys while typing in
      terminal else you will be responsible for the same.
      <span class="bold">4 .TIMEFRAME FOR COMPLETION OF TRANSCRIPTION:</span>
      The Second Party shall complete the services of the said Data entry work
      in Six (6) days TAT period, i.e., maximum 500 forms can be completed
      within a period of 6 DAYS. The Second Party alone shall be responsible
      for the maintenance of Hardware and Personnel for such timely services
      and no excuse of whatsoever Nature shall be entertained for delay in
      Supply of services, since Time is the Essence of this Contract. The
      party of the <span class="bold">SECOND PART</span> may request upon paid
      extension from the party of the <span class="bold">FIRST PART </span> @
      of Rs. 999 for every 24 hrs extension. <br />
      <span class="bold">5. DURATION OF THE CONTRACT:</span> The Present
      Contract shall be in force for 1 month membership. (Within which must
      complete 3 projects/slots). The said Contract shall come to an End at
      the Expiry of the said Period and may be renewed by Mutual Consent and
      on such Revised Terms agreed between the Parties and on Payment of
      Processing Charges for another Project by the Second Party. <br />
      <span class="bold">ID Allocation:</span> Business Associate will get
      single id to work on and Business Associate can work 24X7 on this id.
      <br />
      <span class="bold">TAT (Turn Around Time):</span>Turn around time for
      completing the project is mentioned in the schedule. The Business
      Associate through this agreement guarantees the delivery of work within
      stipulated timeframe with desired accuracy. <br />
      <span class="bold">SERVICE CHARGE:</span> If Business Associate fails to
      fulfil terms and conditions mentioned by Client, then Business Associate
      have to compulsory pay penalty amount of Rs. 6500 * to stop legal
      proceedings within 12 hours. In the matter of fact failure, not
      submitted the Client is entitled to receive penalty amount of Rs. 3999 .
      If Business Associate achieves accuracy then Business Associate will not
      be liable to pay the penalty amount. If Business Associate fails in
      achieving accuracy, then Business Associate has to pay the penalty
      according to the selected plan as a liability. <br />
      <span class="bold"> WHY SERVICE CHARGES? </span>
      - We offer 24*7 helpline options on website. <br />
      - We offer day time customer care call support. <br />
      - Email support <br />
      - Job consultation charges. <br />

      <span class="bold">
        Charges will be deducted from the payment once 90% Accuracy is
        achieved.
      </span>
      <br />

      <span class="bold">
        7. PROCEDURE FOR GENERATION OF ACCURACY REPORT :</span>
      The Determining Centre personnel shall check all the data processing of
      FORMS. After an error is found in a particular FORM the Centre personnel
      shall list that as inaccurate and start checking the next FORM. All the
      errors in the whole FORM will not be shown in the Accuracy Report. Once
      all data processing of FORM are checked, the final Accuracy Report shall
      be generated <span class="bold">Entire Agreement:</span> This Agreement
      constitutes the entire agreement between the Parties hereto with respect
      the subject matter hereof, and supersedes all prior negotiations,
      understandings and agreements of the Parties: In case of any party wants
      to terminate the agreement before the completion of the said tenure, in
      that case, the party who suggests the same has to pay the other party a
      said cancellation charge of Rs. 8580 . within the duration of 24hrs of
      request upon cancellation. <br />
      <span class="bold">Independent Contractor Representation and Warranties:
      </span>
      Independent Contractor represents and warrants that it has all the
      necessary licenses, permits and registrations, if any, required to
      perform the Services under this Agreement in accordance with applicable
      federal, State, and local laws, rules and regulations and that it will
      perform the Services according to the Clients guidelines and
      specifications and with the standard of care prevailing in the industry.
      <br />

      <span class="bold">9.Governing Law:</span> Law: The terms of this
      Agreement and the rights of the Parties hereto shall be governed
      exclusively by the laws of the State of Tamil Nadu without regarding its
      conflicts of law provisions. <br />
      <span class="bold">9.1. Disputes:</span> Any dispute arising from this
      Agreement shall be resolved through: Court litigation: The dispute shall
      be resolved in the courts of the State of Tamil Nadu Attorneys If either
      Party brings legal action to enforce its rights under this Agreement,
      the prevailing party will be entitled to recover from the other Party
      its expenses (including reasonable attorneys cancel charge and costs)
      incurred in connection with the action and any appeal. <br />
      <span class="bold">9.2. Arbitration: </span>The dispute shall be
      resolved through binding arbitration conducted in accordance with the
      rules of the Tamil Nadu Arbitration Association. <br />
      The dispute shall be resolved through mediation. If the dispute cannot
      be resolved through mediation, then the dispute will be resolved through
      binding arbitration conducted in accordance with the rules of the Tamil
      Nadu Arbitration Association.<br />
      <span class="bold">Amendments:</span> No supplement, modification or
      amendment of this Agreement will be binding unless executed in writing
      by both of the Parties.<br />
      <span class="bold">10.1. Notices:</span> Any notice or other
      communication given or made to either Party under this Agreement shall
      be in writing and delivered by hand, sent by overnight courier service
      or sent by certified or registered mail, return receipt requested, to
      the address stated above or to another address as that Party may
      subsequently designate by notice, and shall be deemed given on the date
      of delivery. <br />
      <span class="bold">11. Waiver:</span> Neither Party shall be deemed to
      have waived any provision of this Agreement nor the exercise of any
      rights held under this Agreement unless such waiver is made expressly
      and in writing. Waiver by either Party of a breach or violation of any
      provision of this Agreement shall not constitute a waiver of any
      subsequent or other breach or violation.<br />
      <span class="bold">12. Amendments:</span> Further Assurances: At the
      request of one Party, the other Party shall execute and deliver such
      other documents and take such other actions as may be reasonably
      necessary to effect the terms of this Agreement. <br />
      <span class="bold">13. Severability:</span> If any provision of this
      Agreement is held to be invalid, illegal or unenforceable in whole or in
      part, the remaining provisions shall not be affected and shall continue
      to be valid, legal and enforceable as though the invalid, illegal or
      unenforceable parts had not been included in this Agreement. IN WITNESS
      WHEREOF, this Agreement has been executed and delivered as of the date
      first written above. IN WITNESS WHEREOF, this Agreement has been
      executed and delivered as of the date first written above. <br />
      <span class="bold">
        I fully agree and accept that it is my personal responsibility to
        adhere to the Company's I.T. Policy and any amendment / modification
        thereof and to comply with all of the provisions stated therein in
        true letter and spirit. I understand and accountable for any
        consequence or any misuse of system. I further undertake to abide by
        the I.T. Policy guidelines as a condition of my employment and my
        continuing employment in the Company.
      </span>
      <br />
      <br />
      <br />
      <br />
      <br />
      <span class="bold"> I ACCEPT ALL TERMS AND CONDITION</span> <br> 
      <span class="bold"> CUSTOMER NAME : <%=data.name%></span> <br>
      <span class="bold"> SIGN DATE : <%=data.date%></span>
      <div class="signature-img">
        <img src= <%=data.sign%> class="img" alt="sign of user" />
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />

      DATA ENTRY OPERATOR <br />
      SP Arcade, P-II, MODULE 5A/27, 9A Cross Rd, West Thillai Nagar,
      Tiruchirappalli, Tamil Nadu 620018
      <br />
      Customer Care Number: +91 7506592915<br />
      <br />
      <br />
      <br />
      <span class="bold">Aadhaar Card Front:
        <div class="image-container">
          <img src=<%=data.aadhar%> class="img" alt="aadhar front image" />
        </div>
      </span>
      <br />
      <br />
      <br />
      <br />
      <br />
      <span class="bold">Aadhaar Card Back:
        <div class="image-container">
          <img src=<%=data.aadharBack%> class="img" alt="aadhar back image" />
        </div>
      </span>
    </span>
  </div>
</body>

</html>